.catalogo {
  max-width: 1000px;
  margin: 6rem auto 3rem;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 7px 15px rgba(0,0,0,0.1);
}

.catalogo h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(151, 0, 0);
}
